*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.fullpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #707070;
}

.fullpage h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

#sketch-grid {
  width: 45%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.grid-item {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: #000000 solid 1px;
}
